{% if page.comments == True %}
<footer class="site-footer">
  
  <div class="wrapper">
      <a href="https://clustrmaps.com/site/1a8yz" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=2yAuTMf8hqLjpb5HU-FLaHebRXd3NzpjzjrUgHqzZG8&cl=ffffff" width="50%">
    </a>
  </div>
  
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.data.bio.name }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.data.bio.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        {% include color-social.html %}
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description.en | split:'.' | first}}</p>
      </div>
    </div>

  </div>

</footer>
{% else%}
<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-heading"> {{ site.title }}</h2>
    </div>
</footer>
{% endif %}
